
.col-4 {
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
	float: left;
	width:10.33%;
	padding:80px;
	padding-top: 0px;
}

.col-4 img {
	width: 100%;
	height:40%;
}

.col-4-bat {
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
	float: left;
	width:10.33%;
	padding:50px;
	padding-top: 0px;
}

.col-4-bat img {
	width: 100%;
	height:40%;
}

.col-4-ball {
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
	float: left;
	width:10.33%;
	padding:80px;
	padding-top: 0px;
}

.col-4-ball img {
	width: 300px;
	height:40%;
}

.col-4-helmet {
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
	float: left;
	width:10.33%;
	padding:80px;
	padding-top: 0px;
}

.col-4-helmet img {
	width: 250px;
	height:40%;
}

.col-4-shoes {
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
	float: left;
	width:10.33%;
	padding:80px;
	padding-top: 0px;
}

.col-4-shoes img {
	width: 300px;
	height:40%;
}


.col-4-bat:hover {
	transform: translateY(-10px);
}

.col-4-bat::after {
	content: "";
	display: table;
	clear: both;
}

.col-4-ball:hover {
	transform: translateY(-10px);
}

.col-4-ball::after {
	content: "";
	display: table;
	clear: both;
}

.col-4-helmet:hover {
	transform: translateY(-10px);
}

.col-4-helmet::after {
	content: "";
	display: table;
	clear: both;
}

.col-4-shoes:hover {
	transform: translateY(-10px);
}

.col-4-shoes::after {
	content: "";
	display: table;
	clear: both;
}

.title {
	text-align:center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after {
	content:"";
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 10px;
	position: absolute;
	bottom:0;
	left: 50%;
	transform: translateX(-50%);
}

.add-cart {
	text-decoration: none;
	display:inline-block;
	background: #ff523b;
	color: #fff;
	padding:8px 30px;
	margin-left: 40px;
	border-radius:50px;
}

.add-cart::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.item-topic{
	margin-bottom:10px;
}

select{
	border: 1px solid #ff523b;
	padding:5px;
}

select:focus{
	outline:none;
}

.cartpage{
	margin:80px auto;
}

table{
	width:100%;
	border-collapse: collapse;
}

.navbar{
	margin-top: auto;
	margin-left: 1200px;
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}

/*--------------cart oage-------*/
.products-container{
	max-width:750px;
	justify-content:space-around;
	margin:0 auto;
	margin-top:10px;
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products-container ion-icon{
	font-size: 25px;
	color: blue;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.product-header{
	width: 100%;
	max-width: 650px;
	display:flex;
	justify-content: flex-start;
	margin: 0 auto;
	margin-top: 20px;
}

.product-title{
	border-bottom:4px solid lightgray;
	width:30%;
	padding-left: 100px;
}

.price-title{
	width:30%;
	padding-left: 170px;
	border-bottom:4px solid lightgray;
	display:flex;
	align-items:center;
}

.quatity-title{
	width:20%;
	padding-left: 75px;
	border-bottom:4px solid lightgray;
	display:flex;
	align-items:center;
}

.total-title{
	width:50%;
	padding-left: 70px;
	border-bottom:4px solid lightgray;
	display: flex;
	align-items:center;
}

.products {
    width: 40%;
	border-bottom:1px solid lightgray;
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
}

.products img {
	width: 100px;
	height: 100px;
}

.price{
	width:15%;
	padding-left: 35px;
	border-bottom:1px solid lightgray;
	display:flex;
	align-items:center;
}

.quantity{
	width:20%;
	border-bottom:1px solid lightgray;
	display:flex;
	align-items:center;
}

.total{
	width:10%;
	border-bottom:1px solid lightgray;
	display: flex;
	align-items:center;
}

.basketTotalContainer{
	display:flex;
	justify-content: flex-end;
	width: 85%;
	padding:10px 0;
}

.basketTotalTitle{
	width:140px;
}

.basketTotal{
	width:10%;
}

.offer-img{
	width:100%;
}

.btn btn-info{
	padding-left: 200px;
	padding-right: 100px;
	font-size: 80px;
	background: #009688;
}

.userform{
    max-width: 650px;
	justify-content: center;
    margin-top: 15px;
    margin-bottom: 50px;
	margin-left: 570px;
	margin-right: 560px;
	background: rgb(234, 240, 239);
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom:30px;
	
}

.col-5{
	padding-left: 5px;
	margin-bottom: 5px;
	background: rgb(234, 240, 239);
}

.col-5 h3{
	font-size: 20px;
}

.col-5 h4{
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 20px;

}

.col-6{
	font-size: 16px;
	padding-left: 5px;
	padding-bottom: 20px;
	background: rgb(234, 240, 239);
}

.form-control{
	justify-content: center;
}

.form-control1{
	margin-left: 27px;
	justify-content: center;
}

.form-control2{
	margin-left: 13px;
	justify-content: center;
}

.col-7{
	padding-left: 165px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: rgb(234, 240, 239);
}

.btn-info{
	text-decoration: wavy;
	background: rgb(234, 240, 239);
	color: rgb(0, 0, 0);
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	border-radius:30px;
}

#summary{
	padding: 80px;
	margin-left: 400px;
}
#UserInvoice{
	font-size: 40px;
	margin-bottom: 15px;
	text-decoration: underline;
}

#summary #fnameSummary{
	font-size: 20px;
}

#summary #emailSummary{
	font-size: 20px;
}

#summary #addressSummary{
	font-size: 20px;
}

#summary #textSummary{
	font-size: 20px;
	padding-left: 20px;
}
.footer {
    text-align: center;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0px;
    right: 0px;
  }