body{
    background-image:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("./Images/Cricket.jpg");
	background-size: cover;
	background-position: center;	
}
.container{
    padding-top: 100px;
}

.Quiz{
	width: 950px;
	height: 2240px;
    margin: auto;
    padding: 10px;
    text-align: justify;
	color: white
}
  
h1{
    width: 900px;
    margin: auto;
    padding: 5px;
    background-color: #808080;
}

#countdown{
    text-align: right;
    margin-top: -30px;
	color: white
}

#Total_Marks{
    text-align: center;
    font-size: 25px;
}

#hStatus{
    text-align: center;
    font-size: 20px;
}

#time_got{
    text-align: center;
    font-size: 18px;
}

#Q1{
    text-align: center;
}

#Q2{
    text-align: center;
}

#Q3{
    text-align: center;
}

#Q4{
    text-align: center;
}

#Q5{
    text-align: center;
}

#Q6{
    text-align: center;
}

#Q7{
    text-align: center;
}

#Q8{
    text-align: center;
}

#Q9{
    text-align: center;
}
#Q10{
    text-align: center;
}

.footer{
	color: black;
    text-align: center;
    position: static;
           
}

#Page_Editor{
    text-align: right;
    margin-top: auto
}

#submit{
    padding: 1%;
	color: white;
	background-color: transparent;
    border-style: groove;
    border-color: gray;  
	text-decoration:none;
}

#submit:hover{
    background-color: #424949;
    transform: scale(1.1);  
}

#results{
    padding: 1%;
	color: white;
	background-color: transparent;
    border-style: groove;
    border-color: gray;
	text-decoration:none;
}

#results:hover{
    background-color: #424949;
    transform: scale(1.1);
}

#reset{
    padding: 1%;
	color: white;	
	background-color: transparent;
    border-style: groove;
    border-color: gray; 
    text-decoration:none;    
}

#reset:hover{
    background-color: #424949;
    transform: scale(1.1); 
}

#editor{
    padding: 1%;
	color: white;
	background-color: transparent;
    border-style: groove;
    border-color: gray;
    text-decoration:none;	
}

#editor:hover{
    background-color: #424949;
    transform: scale(1.1);  
}

